<%= form_for(@shirokumatter, url:choose_new_or_edit) do |f| %>
  <% if @shirokumatter.errors.any? %>
    <div id="error_explanation">
      <h2><%= @shirokumatter.errors.count %>件のエラーがあります。</h2>
      
      <ul>
        <% @shirokumatter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>  
 <% end %>

  <%= f.text_field :content, class: 'form-control' %>
  <br>
  <%= f.submit 'つぶやく', class: 'btn btn-primary btn-block' %>
<% end %>

<%=link_to "しろくまへの熱き思い一覧にもどる", shirokumatters_path %>